th,
td {
  border: 1px solid;
  height: 30px;
  text-align: center;
  border-collapse: separate;
}

#center {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.box {
  -webkit-box-shadow: 31px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 31px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 31px 10px 24px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid;
  border-radius: 15px 15px 15px 15px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 10px;

  width: 1000px;
  height: 150px;
}

#button {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 20px;

  width: 100px;
}

.logos {
  width: 150px;
  height: 150px;
  /* border: 1px solid black; */
  margin-left: 820px;
  margin-top: -120px;
  /* padding: 35px; */
}

#logo-golf {
  /* background-image: url("../src/images/Waregem Golf-5.webp") !important; */
  background-repeat: no-repeat, repeat;
}

#inputs {
  height: 25px;
  padding-left: 25px;
}

input[type="text"] {
  background: transparent;
  border: none;
}

input[type="number"] {
  background: transparent;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}
